@using SI642_BonoCorporativo.Models;
@using SI642_BonoCorporativo.Controllers;

@{
    ViewBag.Title = "Home Page";
    SI642Entities db = new SI642Entities();

}

<body style="background: linear-gradient(to right, #2c3e50, #3498db);">
    <div class="container-fluid mt-5">

        <div class="alert alert-primary border-0 mb-4 mt-5 px-md-5">
            <div class="position-relative">
                <div class="row align-items-center justify-content-between">
                    <div class="col position-relative">
                        <h2 class="text-primary">Bienvenido  @db.User.Where(s => s.DNI == AccountController.Static_DNI).FirstOrDefault().Name !</h2>
                        <p class="text-gray-700">
                            En esta aplicación podrás Calcular Bonos Corporativos en el método Francés, en moneda Dólar Americano o Euro, así como para tasas nominales o
                            efectivas.
                        </p>

                    </div>
                    <div class="col d-none d-md-block text-right pt-3"><img class="img-fluid mt-n5" src="https://upload.wikimedia.org/wikipedia/commons/f/fc/UPC_logo_transparente.png" style="max-width: 25rem;" /></div>
                </div>
            </div>
        </div>
        <div class="row">
         <div class="col-lg-6 col-xl-6 mb-4">
             <div class="card o-visible mb-4 alert-primary">
                 <div class="card-body">
                     <h4 class="text-primary">Integrantes</h4>
                     <ul style="color: #485260 ">
                         <li>   Adrian Manuel Esqueiros Cabrera   </li>
                         <li>   Bruno Humberto Gracey Ramos    </li>
                         <li>   Enzo Fabrizio Livelli Laurente     </li>
                         <li>   Roberto Carlos Basauri Quispe  </li>
                         <li>   Sandro Marcelo Torres Castillo   </li>
                     </ul>

                     <h4 class="text-primary">Profesor</h4>
                     <ul style="color: #485260">
                         <li>   Vasquez Neyra Jose Ismael   </li>
                     </ul>
                 </div>                 
             </div>

         </div>
         <div class="col-lg-6 col-xl-6 mb-4">
             <div class="card o-visible mb-4 alert-primary">
                 <div class="card-body">
                     <h4 class="text-primary">Manual de usuario</h4>
                     <ul style="color: #485260 ">
                         <li>   No se permiten valores negativos   </li>
                         <li>   No se admiten el uso de la coma decimal    </li>
                         <li>   Los resultados obtenidos se mostrarán en la sección "Mis operaciones"     </li>
                     </ul>
                 </div>
             </div>
         </div>
    </div>
    </div>
</body>
